<!doctype html>
<html lang="en">
    <title>AI Basketball Analysis</title>
    <link rel = "icon" href =  
"https://image.freepik.com/free-vector/slam-dunk-jump-splash-basketball-player_9245-134.jpg" 
        type = "image/x-icon"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {width: 120px;background: #222;}
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {margin-left: 120px}
        /* Remove margins from "page content" on small screens */
        </style>
  <body class="w3-black">
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="https://image.freepik.com/free-vector/slam-dunk-jump-splash-basketball-player_9245-134.jpg" style="width:100%">
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-black">
          <i class="fa fa-home w3-xxlarge"></i>
          <p>HOME</p>
        </a>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-user w3-xxlarge"></i>
          <p>Analysis</p>
        </a>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-eye w3-xxlarge"></i>
          <p>Product</p>
        </a>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-envelope w3-xxlarge"></i>
          <p>Contact</p>
        </a>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-file w3-xxlarge"></i>
          <p>SRS Document</p>
        </a>
      </nav>
 <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    <a href="" class="w3-bar-item w3-button" style="width:25% !important">SRS Document</a>
  </div>
</div>

<div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h1 class="w3-jumbo"><span class="w3-hide-small">We're</span> Sports Analytics</h1>
      <p>Basketball Analytics, Pose Detection, Shot Angle </p>
      <img src="https://www.booshsports.com/wp-content/uploads/2017/02/analytics-1024x768.jpg" alt="boy" class="w3-image" width="992" height="1108">
    </header>


<!-- END PAGE CONTENT -->
</div>
  
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
